/*region Global */
.bg-light-blue {
    background-color: #E6FBFF;
}
.text-red {
    color: #7a193a;
}
.inline-block {
    display: inline-block;
}
body {
    background-color: #fff !important;
}
.dib {
    display: inline-block;
}
.jumbotron {
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron.position-bottom {
    background-position: bottom;
}
.modal .jumbotron {
    border-bottom: 6px solid #7A193A;
}
.modal .phone-highlight {
    background: #7A193A;
    display: inline-block;
    padding: .3rem 2rem .35rem;
    border-radius: 3px;
}
.modal .phone-highlight, .modal .phone-highlight a {
    color: #fff;
}

/*endregion*/

/*region Bootstrap Customizations */
.container-fluid .wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
/*endregion*/

/*region Text*/
.heading {
    line-height: 140%;
    color: #333;
    text-transform: none;
}
h1.heading {
    letter-spacing: -.07rem;
    line-height: 1.1;
}
.ttu {
    text-transform: uppercase;
}
.lsw {
    letter-spacing: .025rem;
}
/*endregion*/

.section {

}
.banner {
    margin: 2rem 0;
}