.bg-opacity-white {
    background: rgba(255,255,255,.9);
    padding-left: 2rem;
}
.hero-subheadline {
    letter-spacing: .02rem;
    font-size: 1.65rem;
    line-height: 1.2;
    font-weight: 500;
}
.masthead {
    height: 60vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-image-top {
    background-position: top;
}
.bg-image-center {
    background-position: center;
}
.bg-image-bottom {
    background-position: bottom;
}
.banner-container .content-section {
    padding: 5rem 0;
}
.banner-overlay {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.banner-overlay.dark {
    background-color: rgba(0,0,0,.7);
}
.banner-headline {
    font-weight: bold;
    color: #fff;
    letter-spacing: -.04rem;
}
.banner-subheadline {
    color: #fff;
    line-height: 130%;
    letter-spacing: .03rem;
    font-size: 1.3rem;
    font-weight: normal;
}
.banner {
    margin: 2rem 0;
}
button.btn.bg-light-blue {
    color: #111;
}
.banner-container button.btn.bg-light-blue:hover {
    background-color: #AAF2FF !important;
}
.banner-container button.btn.bg-light-blue.shadow {
    box-shadow: 0 10px 20px 0px rgb(230 251 255 / 15%) !important;
}
.banner-container button.btn.bg-light-blue.shadow:hover {
    box-shadow: none !important;
}
.banner-container button.btn.bg-light-blue:visited,
.banner-container button.btn.bg-light-blue:active
{
    background-color: #AAF2FF !important;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* global/content-banner */
    .banner-container .content-section {
        padding: 3rem 0;
    }
    .banner-container h1 {
        font-size: 2.5rem;
    }
    .banner-container button {
        font-size: 1.1rem;
    }
        /* End */
    .jumbotron p.subheading {
        background-color: transparent;
    }
    .jumbotron h1 {
        font-size: 20vw;
    }

    .jumbotron p.lead {
        font-weight: 500;
        font-size: 1.25rem;
    }
}