.product-cta-btn, .gform_button {
    border: none;
    letter-spacing: .03rem;
    background-color: #7A193A !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: bold;
    display: inline-block;
    padding: .3em 1em;
    font-size: .9em;
    line-height: 30px;
}
.gform_button {
    line-height: 1.5 !important;
}
.product-cta-btn:hover, .gform_button:hover {
    background-color: #560420;
    box-shadow: none;
}
/*region Global */
header.site-header.is-scrolling {
    z-index: 1049;
}
a,button, input[type="submit"] {
    font-family: "Source Sans Pro";
}
.btn-orange {
    background-color: #ce742e !important;
}
ul.flush {
    padding-inline-start: 0;
    margin-left: 0;
}
.no-borders {
    border: none !important;
}
.text-red {
    color: #7a193a;
}
.bg-light-yellow {
    background-color: rgba(255,255,237, .3);
}
.bg-blue {
    background-color: #E6FBFF;
}
.bg-light-grey {
    background-color: #eee;
}
.bg-red {
    background-color: #7a193a;
}
.bg-white {
    background-color: #fff !important;
}
.bg-light-blue {
    background-color: #E6FBFF;
}
.text-red {
    color: #7a193a;
}
.inline-block {
    display: inline-block;
}
body {
    background-color: #fff !important;
}
.dib {
    display: inline-block;
}
.jumbotron {
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron.position-bottom {
    background-position: bottom;
}
.modal .jumbotron {
    border-bottom: 6px solid #7A193A;
}
.modal .phone-highlight {
    background: #7A193A;
    display: inline-block;
    padding: .3rem 2rem .35rem;
    border-radius: 3px;
}
.modal .phone-highlight, .modal .phone-highlight a {
    color: #fff;
}

/*endregion*/

/*region Bootstrap Customizations */
.container-fluid .wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
/*endregion*/

/*region Text*/
.heading {
    line-height: 140%;
    color: #333;
    text-transform: none;
}
h1.heading {
    letter-spacing: -.07rem;
    line-height: 1.1;
}
.ttu {
    text-transform: uppercase;
}
.lsw {
    letter-spacing: .025rem;
}
/*endregion*/

body div.site section#bonded-and-insued {
    padding-bottom: 10rem !important;
    background-color: #fff !important;
}
.alert.alert-primary {
    background-color: #7A193A;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0;
}
body li.product .wc_email_inquiry_button_container .wc_email_inquiry_email_button {
    color: #fff !important;
    background: #ea662b !important;
    font-size: 1rem !important;
    padding: .15rem .75rem .2rem !important;
    box-shadow: 0 10px 15px -5px rgb(51 71 91 / 20%) !important;
}
blockquote {
    background-color: #f8f8f8;
    padding: 1rem;
    margin: 2rem 0;
    border-left: 6px solid #7A193A
}
blockquote > p {
    font-size: 1.25rem;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 0;
}
.heading {
    letter-spacing: -.07rem;
}
.bg-white {
    background-color: #fff;
}
.panel {
    padding: 1.5rem 2.25rem;
    border-radius: 4px;
}
.category-pill {
    background-color: rgba(255,255,255,.5);
    border-radius: 1000px;
    padding: .15rem 1rem;
}
.shadow {
    box-shadow: 0 10px 20px 0px rgba(51,71,91,0.1) !important;
}
.bg-grey {
    background-color: #f8f8f8;
}
.bg-red {
    background-color: #7A193A;
}
.bg-blue {
    background-color: #E6FBFF;
}
.bt-red {
    border-top: 6px solid #7A193A;
}
/*region Plugin: Gravity Forms */
body .gform_wrapper .gform_body input[type="text"], body .gform_wrapper .gform_body select {
    width: 100% !important;
    border-color: #999;
    border-radius: 4px;
}
body .gform_wrapper label.gfield_label {
    margin-bottom: 0;
}
/*endregion*/

/*region Media Queries */

@media (max-width: 768px) {
    .section-heading {
        font-weight: bold;
        margin: 2rem 0;
        font-size: 9vw;
        text-transform: none;
        line-height: 1.1;
    }
    header.site-header div#pre-nav {
        display: inherit !important;
    }
    .scrolling-brand-phone {
        display: none !important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .custom-content h1 {
        font-size: 2.5rem;
    }
    .custom-content .fs-large {
        font-size: 1.15rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .custom-content h1 {
        font-size: 3rem;
    }
    .custom-content .fs-large {
        font-size: 1.35rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .custom-content h1 {
        font-size: 3.5rem;
    }
    .custom-content .fs-large {
        font-size: 1.6rem;
    }
}
/*endregion*/