/*region Global */
.no-borders {
    border: none !important;
}
.text-red {
    color: #7a193a;
}
.bg-blue {
    background-color: #E6FBFF;
}
.bg-light-grey {
    background-color: #eee;
}
.bg-red {
    background-color: #7a193a;
}
.bg-white {
    background-color: #fff !important;
}
/*endregion*/
body div.site section#bonded-and-insued {
    padding-bottom: 10rem !important;
    background-color: #fff !important;
}
#pre-nav {
    display: none !important;
}
.alert.alert-primary {
    background-color: #7A193A;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0;
}
body li.product .wc_email_inquiry_button_container .wc_email_inquiry_email_button {
    color: #fff !important;
    background: #ea662b !important;
    font-size: 1rem !important;
    padding: .15rem .75rem .2rem !important;
    box-shadow: 0 10px 15px -5px rgb(51 71 91 / 20%) !important;
}
blockquote {
    background-color: #f8f8f8;
    padding: 1rem;
    margin: 2rem 0;
    border-left: 6px solid #7A193A
}
blockquote > p {
    font-size: 1.25rem;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 0;
}
.heading {
    letter-spacing: -.07rem;
}
.bg-white {
    background-color: #fff;
}
.panel {
    padding: 1.5rem 2.25rem;
    border-radius: 4px;
}
.category-pill {
    background-color: rgba(255,255,255,.5);
    border-radius: 1000px;
    padding: .15rem 1rem;
}
.shadow {
    box-shadow: 0 10px 20px 0px rgba(51,71,91,0.1) !important;
}
.bg-grey {
    background-color: #f8f8f8;
}
.bg-red {
    background-color: #7A193A;
}
.bg-blue {
    background-color: #E6FBFF;
}
.bt-red {
    border-top: 6px solid #7A193A;
}
/*region Plugin: Gravity Forms */
body .gform_wrapper .gform_body input[type="text"], body .gform_wrapper .gform_body select {
    width: 100% !important;
    border-color: #999;
    border-radius: 4px;
}
body .gform_wrapper label.gfield_label {
    margin-bottom: 0;
}
/*endregion*/