.text-blue {
    color: #174368;
}
.font-oxygen {
    font-family: "Oxygen";
}
.woocommerce table.shop_attributes {
    border-top: none;
}
.woocommerce table.shop_attributes th {
    width: inherit;
}
.tab-content .post-excerpt.bullets ul {
    margin-left: 0;
    margin-top: 2rem;
}
.max-height-50 {
    max-height: 50vh;
}
.mh-50 {
    min-height: 50vh;
}
header #pre-nav .logo-fixed > a > h4 {
    visibility: hidden;
}
header.is-scrolling #pre-nav .logo-fixed > a > h4 {
    visibility: inherit;
}
.modal-logo {
    max-height: 50px;
}
.promotion-cards .card-img-top {
    min-height: 350px;
    max-height: 350px;
    width: 100%;
    object-fit: contain;
}
#popupModal .close {
    opacity: 1;
    position: absolute;
}
#popupModal .close {
    right: -1.5rem;
    top: -3.5rem;
}
#popupModal .close > span {
    font-size: 3rem;
}
#popupModal .modal-body .btn {
    background-color: #dd7f36 !important;
}
#auto-key-icon {
    filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(104%) contrast(101%);
    max-height: 25px;
    margin-right: 0.5rem;
}
.lst-none {
    list-style-type: none !important;
}
.manufacturer-logo {
    max-height: 30px;
}
.product-cta-btn, .gform_button {
    border: none;
    letter-spacing: .03rem;
    background-color: #7A193A !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: bold;
    display: inline-block;
    padding: .3em 1em;
    font-size: .9em;
    line-height: 30px;
}
.gform_button {
    line-height: 1.5 !important;
}
.product-cta-btn:hover, .gform_button:hover {
    background-color: #560420;
    box-shadow: none;
}
/*region Global */
.section {
    padding: 1.5rem 0;
    margin: 1.5rem 0;
}
header.site-header.is-scrolling {
    z-index: 1049;
}
a,button, input[type="submit"] {
    font-family: "Source Sans Pro";
}
.btn-orange {
    background-color: #ce742e !important;
}
ul.flush {
    padding-inline-start: 0;
    margin-left: 0;
}
.no-borders {
    border: none !important;
}
.text-red {
    color: #7a193a;
}
.safe-img {
    max-height: 225px;
}
.product-list-item .card-body .btn:active,
.product-list-item .card-body .btn:focus,
.product-list-item .card-body .btn:visited
{
    font-weight: 600;
    color: #fff !important;
}
.attribute-icons {
    max-height: 35px !important;
}
.product-list-item .btn.bg-red:hover {
    background-color: darkred !important;
}
.product-single-container .product-detail-heading {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1rem;
}
.woocommerce-breadcrumb {
    text-align: right;
}
.woocommerce .woocommerce-breadcrumb {
    margin-bottom: 1rem;
}
.image-container > div {
    width: 100% !important;
}
.bg-light-yellow {
    background-color: rgba(255,255,237, .3);
}
.bg-none, .bg-transparent {
    background: transparent !important;
}
.bg-blue {
    background-color: #E6FBFF;
}
.bg-light-grey {
    background-color: #eee;
}
.bg-red {
    background-color: #7a193a;
}
.bg-white {
    background-color: #fff !important;
}
.bg-light-blue {
    background-color: #E6FBFF;
}
.bg-light-blue-opacity {
    background: rgba(230,251,255,.5) !important;
}
.text-red {
    color: #7a193a !important;
}
.inline-block {
    display: inline-block;
}
body {
    background-color: #fff !important;
}
.dib {
    display: inline-block;
}
.jumbotron {
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron.position-bottom {
    background-position: bottom;
}
.modal .jumbotron {
    border-bottom: 6px solid #7A193A;
}
.modal .phone-highlight {
    background: #7A193A;
    display: inline-block;
    padding: .3rem 2rem .35rem;
    border-radius: 3px;
}
.modal .phone-highlight, .modal .phone-highlight a {
    color: #fff;
}

/*endregion*/

/*region Bootstrap Customizations */
.container-fluid .wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
/*endregion*/

/*region Text*/
h1,h2,h3,h4 {
    line-height: initial;
    text-transform: none;
}
.heading {
    line-height: 140%;
    color: #333;
    text-transform: none;
}
h1.heading {
    letter-spacing: -.07rem;
    line-height: 1.1;
}
.ttu {
    text-transform: uppercase;
}
.lsw {
    letter-spacing: .025rem;
}
/*endregion*/

body div.site section#bonded-and-insued {
    padding-bottom: 10rem !important;
    background-color: #fff !important;
}
.alert.alert-primary {
    background-color: #7A193A;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0;
}
body li.product .wc_email_inquiry_button_container .wc_email_inquiry_email_button {
    color: #fff !important;
    background: #ea662b !important;
    font-size: 1rem !important;
    padding: .15rem .75rem .2rem !important;
    box-shadow: 0 10px 15px -5px rgb(51 71 91 / 20%) !important;
}
blockquote {
    background-color: #f8f8f8;
    padding: 1rem;
    margin: 2rem 0;
    border-left: 6px solid #7A193A
}
blockquote > p {
    font-size: 1.25rem;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 0;
}
.heading {
    letter-spacing: -.07rem;
}
.bg-white {
    background-color: #fff;
}
.panel {
    padding: 1.5rem 2.25rem;
    border-radius: 4px;
}
.category-pill {
    background-color: #7A193A;
    border-radius: 1000px;
    padding: .1rem 1rem;
}
.shadow {
    box-shadow: 0 10px 20px 0px rgba(51,71,91,0.1) !important;
}
.bg-grey {
    background-color: #f8f8f8;
}
.bg-red {
    background-color: #7A193A;
}
.bg-blue {
    background-color: #E6FBFF;
}
.bt-red {
    border-top: 6px solid #7A193A;
}
/*region Plugin: Gravity Forms */
body .gform_wrapper .gform_body input[type="text"], body .gform_wrapper .gform_body select {
    width: 100% !important;
    border-color: #999;
    border-radius: 4px;
}
body .gform_wrapper label.gfield_label {
    margin-bottom: 0;
}
/*endregion*/
#used-safes p > strong {
    display: block;
    margin-bottom: -1.5rem;
}
/*region Media Queries */
@media (max-width: 1440px) {
    .container-fluid > .wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (max-width: 768px) {
    .container-fixed {
        padding: 0px 22px;
    }
    .woocommerce-breadcrumb {
        display: none;
    }
    #menu-responsive .search-field-row {
        display: block;
    }
    #menu-responsive #searchform .search-field {
        line-height: 1.25;
        font-size: 1.1rem;
        width: 80% !important;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-color: #7a193a;
        padding-top: 0.35rem;
        padding-bottom: 0.25rem;
    }
    #menu-responsive #searchform i {
        color: #7a193a !important;
    }

    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .container > .wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .modal-header button.close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5rem;
        padding: 0.5rem 0.75rem;
    }
    #productModal .list-group > .list-group-item {
        text-align: center;
    }
    #productModal .list-group > .list-group-item h5 {
        font-size: 1rem;
        font-weight: bold;
    }
    .section-heading {
        font-weight: bold;
        margin: 2rem 0;
        font-size: 9vw;
        text-transform: none;
        line-height: 1.1;
    }
    /*header.site-header div#pre-nav {*/
    /*    display: inherit !important;*/
    /*}*/
    .scrolling-brand-phone {
        display: none !important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .product-single-container .product-detail-heading {
        font-size: 3rem;
    }
    .product-single-container .product-detail-heading + p {
        font-size: 1.5rem;
    }
    .custom-content h1 {
        font-size: 2.5rem;
    }
    .custom-content .fs-large {
        font-size: 1.15rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .custom-content h1 {
        font-size: 3rem;
    }
    .custom-content .fs-large {
        font-size: 1.35rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .custom-content h1 {
        font-size: 3.5rem;
    }
    .custom-content .fs-large {
        font-size: 1.6rem;
    }
}
/*endregion*/